.makeAReservation {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #f6f5f8;
  color: #fff;
  cursor: pointer;
  height: 60px;
  border-top: 1px solid rgb(136, 133, 133);
}

.makeAReservation .iconAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.makeAReservation .iconAndText img {
    margin-bottom: 3px;
}

.makeAReservation .iconText {
    color: #000;
    font-size: 10px;
    letter-spacing: 0;
    font-weight: 600;
}

.makeAReservation .section1 {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.makeAReservation .section2 {
  width: calc(100% / 3);
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.makeAReservation .section2 .reservationIcon {
  background-color: #7e53f9;
  width: 100px;
  height: 110%;
  position: relative;
  bottom: 15px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.makeAReservation .section3 {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 499px) {
  .makeAReservation {
    display: flex;
  }
}
