.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modalContent {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh; /* Modalın yüksekliğini sınırlıyoruz */
  overflow-y: auto; /* Modal içinde kaydırmayı etkinleştiriyoruz */
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
}